.latest-feedbacks { display: block; }
.latest-feedbacks .feedback:nth-of-type(1) { display: block; }
.latest-feedbacks .feedback:nth-of-type(1) .title:before{ content: "SOFAINSTORE Red Leather Chesterfield Sofa Set – 3+2 Seater | Buttoned, Vintage S - RRP £1,199.00"; } 
.latest-feedbacks .feedback:nth-of-type(1) .price:before{ content: "1,199.00"; } 
.latest-feedbacks .feedback:nth-of-type(1) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(1) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(1) .name:before{ content: "hippygirl1958"; }
.latest-feedbacks .feedback:nth-of-type(1) .score:before{ content: "1615"; }
.latest-feedbacks .feedback:nth-of-type(1) .date:before{ content: "7/28/2025"; }
.latest-feedbacks .feedback:nth-of-type(1) .description:before{ content: "Beautiful sofas very comfortable thank you"; }


.latest-feedbacks .feedback:nth-of-type(2) { display: block; }
.latest-feedbacks .feedback:nth-of-type(2) .title:before{ content: "SOFAINSTORE Belmont Grey Genuine Leather 3 Seater Sofa – Plush & Durable - RRP £719.97"; } 
.latest-feedbacks .feedback:nth-of-type(2) .price:before{ content: "719.97"; } 
.latest-feedbacks .feedback:nth-of-type(2) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(2) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(2) .name:before{ content: "qd6jg-21"; }
.latest-feedbacks .feedback:nth-of-type(2) .score:before{ content: "130"; }
.latest-feedbacks .feedback:nth-of-type(2) .date:before{ content: "7/18/2025"; }
.latest-feedbacks .feedback:nth-of-type(2) .description:before{ content: "Very happy well worth paying for genuine leather great delivery"; }


.latest-feedbacks .feedback:nth-of-type(3) { display: block; }
.latest-feedbacks .feedback:nth-of-type(3) .title:before{ content: "Cox & Cox Stylish Blush Mango Wood Two Enamelled Storage Side Tables - RRP Â£295"; } 
.latest-feedbacks .feedback:nth-of-type(3) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(3) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(3) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(3) .name:before{ content: "o***l"; }
.latest-feedbacks .feedback:nth-of-type(3) .score:before{ content: "39"; }
.latest-feedbacks .feedback:nth-of-type(3) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(3) .description:before{ content: "Stunning side tables, well described and well packaged. Small signs of previous wear and tear as expected but overall in excellent condition. Delivery was earlier than expected. Communication with clearcycle was prompt and clear. Will definitely use again. Many thanks! "; }


.latest-feedbacks .feedback:nth-of-type(4) { display: block; }
.latest-feedbacks .feedback:nth-of-type(4) .title:before{ content: "Swoon Norrebro Stylish Natural Oak Stain & Brass Bedside Table - RRP Â£199"; } 
.latest-feedbacks .feedback:nth-of-type(4) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(4) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(4) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(4) .name:before{ content: "h***a"; }
.latest-feedbacks .feedback:nth-of-type(4) .score:before{ content: "1995"; }
.latest-feedbacks .feedback:nth-of-type(4) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(4) .description:before{ content: "Excellent eBayer: excellent condition at a really great price, well packed and quickly sent. Buy in confidence ! A+++++++++++"; }


.latest-feedbacks .feedback:nth-of-type(5) { display: block; }
.latest-feedbacks .feedback:nth-of-type(5) .title:before{ content: "Power XL Vortex HF-8096TS 4.7L Digital Air Fryer - RRP Â£99.99"; } 
.latest-feedbacks .feedback:nth-of-type(5) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(5) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(5) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(5) .name:before{ content: "e***e"; }
.latest-feedbacks .feedback:nth-of-type(5) .score:before{ content: "825"; }
.latest-feedbacks .feedback:nth-of-type(5) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(5) .description:before{ content: "Perfect! Thanks again"; }


.latest-feedbacks .feedback:nth-of-type(6) { display: block; }
.latest-feedbacks .feedback:nth-of-type(6) .title:before{ content: "Drew & Cole Pressure King Pro 3L 700W Non-Stick Pressure Cooker - RRP Â£49.99"; } 
.latest-feedbacks .feedback:nth-of-type(6) .price:before{ content: "38.99"; } 
.latest-feedbacks .feedback:nth-of-type(6) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(6) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(6) .name:before{ content: "6***r"; }
.latest-feedbacks .feedback:nth-of-type(6) .score:before{ content: "1168"; }
.latest-feedbacks .feedback:nth-of-type(6) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(6) .description:before{ content: "A good item and fast delivery, many thanks 5*  "; }


.latest-feedbacks .feedback:nth-of-type(7) { display: block; }
.latest-feedbacks .feedback:nth-of-type(7) .title:before{ content: "Swoon Ziggy Stylish Gold Art Deco Brass Painted Black Storage Cabinet - RRP Â£463"; } 
.latest-feedbacks .feedback:nth-of-type(7) .price:before{ content: "324.99"; } 
.latest-feedbacks .feedback:nth-of-type(7) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(7) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(7) .name:before{ content: "b***b"; }
.latest-feedbacks .feedback:nth-of-type(7) .score:before{ content: "216"; }
.latest-feedbacks .feedback:nth-of-type(7) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(7) .description:before{ content: "As described - really happy! Great communication- a pleasure to deal with. Great to buy from!"; }


.latest-feedbacks .feedback:nth-of-type(8) { display: block; }
.latest-feedbacks .feedback:nth-of-type(8) .title:before{ content: "Nectar Memory Foam Boxed Mattress Double Certified Refurbished - RRP Â£699"; } 
.latest-feedbacks .feedback:nth-of-type(8) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(8) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(8) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(8) .name:before{ content: "i***s"; }
.latest-feedbacks .feedback:nth-of-type(8) .score:before{ content: "533"; }
.latest-feedbacks .feedback:nth-of-type(8) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(8) .description:before{ content: "Thanks for quick postage.  Great service. Quick delivery and perfect. "; }


.latest-feedbacks .feedback:nth-of-type(9) { display: block; }
.latest-feedbacks .feedback:nth-of-type(9) .title:before{ content: "Nutri Bullet 600 W Series Nutritional Blender Smoothie Maker - RRP Â£59.99"; } 
.latest-feedbacks .feedback:nth-of-type(9) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(9) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(9) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(9) .name:before{ content: "k***e"; }
.latest-feedbacks .feedback:nth-of-type(9) .score:before{ content: "70"; }
.latest-feedbacks .feedback:nth-of-type(9) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(9) .description:before{ content: "Great experience: excellent communication, swift delivery, product works perfectly, would definitely use clearcycle again, and with a clean conscience of recycled goods and more money in my purse. "; }


.latest-feedbacks .feedback:nth-of-type(10) { display: block; }
.latest-feedbacks .feedback:nth-of-type(10) .title:before{ content: "Drew & Cole Pressure King Pro 3L 700W Non-Stick Pressure Cooker - RRP Â£49.99"; } 
.latest-feedbacks .feedback:nth-of-type(10) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(10) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(10) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(10) .name:before{ content: "5***o"; }
.latest-feedbacks .feedback:nth-of-type(10) .score:before{ content: "1746"; }
.latest-feedbacks .feedback:nth-of-type(10) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(10) .description:before{ content: "Brilliant service, super fast delivery, excellent product. Very pleased. "; }


.latest-feedbacks .feedback:nth-of-type(11) { display: block; }
.latest-feedbacks .feedback:nth-of-type(11) .title:before{ content: "Power Air Fryer XL 3.2 L Healthy Portable Chip Fryer in Black - RRP Â£79.99"; } 
.latest-feedbacks .feedback:nth-of-type(11) .price:before{ content: "44.99"; } 
.latest-feedbacks .feedback:nth-of-type(11) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(11) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(11) .name:before{ content: "x***a"; }
.latest-feedbacks .feedback:nth-of-type(11) .score:before{ content: "803"; }
.latest-feedbacks .feedback:nth-of-type(11) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(11) .description:before{ content: "Superb seller quick delivery â­ï¸â­ï¸â­ï¸â­ï¸â­ï¸ "; }


.latest-feedbacks .feedback:nth-of-type(12) { display: block; }
.latest-feedbacks .feedback:nth-of-type(12) .title:before{ content: "Numatic Henry HVR160 Capacity 6 L Cylinder Vacuum Cleaner - RRP Â£139.96"; } 
.latest-feedbacks .feedback:nth-of-type(12) .price:before{ content: "99.99"; } 
.latest-feedbacks .feedback:nth-of-type(12) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(12) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(12) .name:before{ content: "g***m"; }
.latest-feedbacks .feedback:nth-of-type(12) .score:before{ content: "287"; }
.latest-feedbacks .feedback:nth-of-type(12) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(12) .description:before{ content: "GREAT SERVICE"; }


.latest-feedbacks .feedback:nth-of-type(13) { display: block; }
.latest-feedbacks .feedback:nth-of-type(13) .title:before{ content: "Swoon Stepney Gunmetal Steel & Brass Bedside Table - RRP Â£189"; } 
.latest-feedbacks .feedback:nth-of-type(13) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(13) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(13) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(13) .name:before{ content: "a***a"; }
.latest-feedbacks .feedback:nth-of-type(13) .score:before{ content: "234"; }
.latest-feedbacks .feedback:nth-of-type(13) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(13) .description:before{ content: "Perfect. Great item, fast and efficient. Thank you. "; }


.latest-feedbacks .feedback:nth-of-type(14) { display: block; }
.latest-feedbacks .feedback:nth-of-type(14) .title:before{ content: "Swoon Stepney Stylish Gunmetal Grey Steel Two Drawer Bedside Table - RRP Â£199"; } 
.latest-feedbacks .feedback:nth-of-type(14) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(14) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(14) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(14) .name:before{ content: "a***a"; }
.latest-feedbacks .feedback:nth-of-type(14) .score:before{ content: "234"; }
.latest-feedbacks .feedback:nth-of-type(14) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(14) .description:before{ content: "Perfect. Great item, fast and efficient. Thank you. "; }


.latest-feedbacks .feedback:nth-of-type(15) { display: block; }
.latest-feedbacks .feedback:nth-of-type(15) .title:before{ content: "Power XL Vortex HF-5096TS 2.8L Digital Air Fryer - RRP Â£89.99"; } 
.latest-feedbacks .feedback:nth-of-type(15) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(15) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(15) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(15) .name:before{ content: "r***s"; }
.latest-feedbacks .feedback:nth-of-type(15) .score:before{ content: "310"; }
.latest-feedbacks .feedback:nth-of-type(15) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(15) .description:before{ content: "All good thanks really pleased "; }


.latest-feedbacks .feedback:nth-of-type(16) { display: block; }
.latest-feedbacks .feedback:nth-of-type(16) .title:before{ content: "NutriBullet 600 Series 8-Piece Nutritional Blender in Black - RRP Â£59.99"; } 
.latest-feedbacks .feedback:nth-of-type(16) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(16) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(16) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(16) .name:before{ content: "d***l"; }
.latest-feedbacks .feedback:nth-of-type(16) .score:before{ content: "1831"; }
.latest-feedbacks .feedback:nth-of-type(16) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(16) .description:before{ content: "Great product, excellent price and service A+A+A+A+A"; }


.latest-feedbacks .feedback:nth-of-type(17) { display: block; }
.latest-feedbacks .feedback:nth-of-type(17) .title:before{ content: "Swoon Claudine Stylish Black Mango Wood & Brass Four Chest of Drawers - RRP Â£549"; } 
.latest-feedbacks .feedback:nth-of-type(17) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(17) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(17) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(17) .name:before{ content: "-***n"; }
.latest-feedbacks .feedback:nth-of-type(17) .score:before{ content: "165"; }
.latest-feedbacks .feedback:nth-of-type(17) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(17) .description:before{ content: "Great communication from seller, we are happy with our new furniture "; }


.latest-feedbacks .feedback:nth-of-type(18) { display: block; }
.latest-feedbacks .feedback:nth-of-type(18) .title:before{ content: "Swoon Landau Stylish Kingfisher Green Easy Velvet Two Seater Sofa - RRP Â£1449"; } 
.latest-feedbacks .feedback:nth-of-type(18) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(18) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(18) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(18) .name:before{ content: "u***z"; }
.latest-feedbacks .feedback:nth-of-type(18) .score:before{ content: "2637"; }
.latest-feedbacks .feedback:nth-of-type(18) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(18) .description:before{ content: "Great item thank you so much a fantastic seller I  cannot recommend highly enough "; }


.latest-feedbacks .feedback:nth-of-type(19) { display: block; }
.latest-feedbacks .feedback:nth-of-type(19) .title:before{ content: "Cox & Cox Oak Stylish One Drawer Storage St Ives Compact Dining Table - RRP Â£595"; } 
.latest-feedbacks .feedback:nth-of-type(19) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(19) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(19) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(19) .name:before{ content: "a***m"; }
.latest-feedbacks .feedback:nth-of-type(19) .score:before{ content: "35"; }
.latest-feedbacks .feedback:nth-of-type(19) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(19) .description:before{ content: "Really great all round"; }


.latest-feedbacks .feedback:nth-of-type(20) { display: block; }
.latest-feedbacks .feedback:nth-of-type(20) .title:before{ content: "Cox & Cox Oslo Blonde Oak Storage Console Table - RRP Â£295"; } 
.latest-feedbacks .feedback:nth-of-type(20) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(20) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(20) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(20) .name:before{ content: "a***m"; }
.latest-feedbacks .feedback:nth-of-type(20) .score:before{ content: "35"; }
.latest-feedbacks .feedback:nth-of-type(20) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(20) .description:before{ content: "Great - all exactly as promised"; }


.latest-feedbacks .feedback:nth-of-type(21) { display: block; }
.latest-feedbacks .feedback:nth-of-type(21) .title:before{ content: "MADE.com Arles Living Room Modern Matt Black Freestanding Mirror - RRP Â£249"; } 
.latest-feedbacks .feedback:nth-of-type(21) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(21) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(21) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(21) .name:before{ content: "a***m"; }
.latest-feedbacks .feedback:nth-of-type(21) .score:before{ content: "35"; }
.latest-feedbacks .feedback:nth-of-type(21) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(21) .description:before{ content: "Exactly as billed - great all round - huge fan of clear cycle"; }


.latest-feedbacks .feedback:nth-of-type(22) { display: block; }
.latest-feedbacks .feedback:nth-of-type(22) .title:before{ content: "MADE.com Orson Ink Blue Velvet Three Seater Sofa - RRP Â£699"; } 
.latest-feedbacks .feedback:nth-of-type(22) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(22) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(22) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(22) .name:before{ content: "a***m"; }
.latest-feedbacks .feedback:nth-of-type(22) .score:before{ content: "35"; }
.latest-feedbacks .feedback:nth-of-type(22) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(22) .description:before{ content: "Really great all round - great communication flexible on delivery exactly as shown."; }


.latest-feedbacks .feedback:nth-of-type(23) { display: block; }
.latest-feedbacks .feedback:nth-of-type(23) .title:before{ content: "New Image FITT Cube Multi Gym - RRP Â£129.99"; } 
.latest-feedbacks .feedback:nth-of-type(23) .price:before{ content: "89.99"; } 
.latest-feedbacks .feedback:nth-of-type(23) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(23) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(23) .name:before{ content: "b***b"; }
.latest-feedbacks .feedback:nth-of-type(23) .score:before{ content: "352"; }
.latest-feedbacks .feedback:nth-of-type(23) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(23) .description:before{ content: "Good product. Thank you. "; }


.latest-feedbacks .feedback:nth-of-type(24) { display: block; }
.latest-feedbacks .feedback:nth-of-type(24) .title:before{ content: "Xterra 5.8E FreeStyle Elliptical Cross Trainer - RRP Â£899"; } 
.latest-feedbacks .feedback:nth-of-type(24) .price:before{ content: "349.99"; } 
.latest-feedbacks .feedback:nth-of-type(24) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(24) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(24) .name:before{ content: "a***s"; }
.latest-feedbacks .feedback:nth-of-type(24) .score:before{ content: "369"; }
.latest-feedbacks .feedback:nth-of-type(24) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(24) .description:before{ content: "Great service, arrived ahead of schedule. Thanks!"; }


.latest-feedbacks .feedback:nth-of-type(25) { display: block; }
.latest-feedbacks .feedback:nth-of-type(25) .title:before{ content: "NuBreeze New Age Fan-Assisted Indoor Drying System Aired Dryer - RRP Â£59.99"; } 
.latest-feedbacks .feedback:nth-of-type(25) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(25) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(25) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(25) .name:before{ content: "x***j"; }
.latest-feedbacks .feedback:nth-of-type(25) .score:before{ content: "83"; }
.latest-feedbacks .feedback:nth-of-type(25) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(25) .description:before{ content: "Great does what it says"; }


.latest-feedbacks .feedback:nth-of-type(26) { display: block; }
.latest-feedbacks .feedback:nth-of-type(26) .title:before{ content: "Cox & Cox Textured Burnished Silver Topped Metal Side Table RRP Â£275"; } 
.latest-feedbacks .feedback:nth-of-type(26) .price:before{ content: "169.99"; } 
.latest-feedbacks .feedback:nth-of-type(26) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(26) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(26) .name:before{ content: "a***a"; }
.latest-feedbacks .feedback:nth-of-type(26) .score:before{ content: "21"; }
.latest-feedbacks .feedback:nth-of-type(26) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(26) .description:before{ content: "Very happy with my purchase,  quick delivery and good price "; }


.latest-feedbacks .feedback:nth-of-type(27) { display: block; }
.latest-feedbacks .feedback:nth-of-type(27) .title:before{ content: "Swoon Katana Stylish White Handcrafted Brass Storage Sideboard - RRP Â£379"; } 
.latest-feedbacks .feedback:nth-of-type(27) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(27) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(27) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(27) .name:before{ content: "g***e"; }
.latest-feedbacks .feedback:nth-of-type(27) .score:before{ content: "199"; }
.latest-feedbacks .feedback:nth-of-type(27) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(27) .description:before{ content: "Thanks - great delivery. Looks fab. A* ebayer"; }


.latest-feedbacks .feedback:nth-of-type(28) { display: block; }
.latest-feedbacks .feedback:nth-of-type(28) .title:before{ content: "MADE.com Haru Stylish Quartz Blue Weave Ideal Small Sofa Bed - RRP Â£299"; } 
.latest-feedbacks .feedback:nth-of-type(28) .price:before{ content: "209.99"; } 
.latest-feedbacks .feedback:nth-of-type(28) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(28) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(28) .name:before{ content: "c***a"; }
.latest-feedbacks .feedback:nth-of-type(28) .score:before{ content: "1767"; }
.latest-feedbacks .feedback:nth-of-type(28) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(28) .description:before{ content: "lovely, thankyou"; }


.latest-feedbacks .feedback:nth-of-type(29) { display: block; }
.latest-feedbacks .feedback:nth-of-type(29) .title:before{ content: "MADE.com Monty Oak 2-4 Seat Extending Dining Table - RRP Â£299"; } 
.latest-feedbacks .feedback:nth-of-type(29) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(29) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(29) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(29) .name:before{ content: "1***n"; }
.latest-feedbacks .feedback:nth-of-type(29) .score:before{ content: "876"; }
.latest-feedbacks .feedback:nth-of-type(29) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(29) .description:before{ content: "Very pleased with the item, perfect aesthetically. Prompt response to queries, well packaged in original carton and super speedy delivery by very friendly courier. Excellent customer service, thanks."; }


.latest-feedbacks .feedback:nth-of-type(30) { display: block; }
.latest-feedbacks .feedback:nth-of-type(30) .title:before{ content: "MADE.com Samona Stone Grey Corduroy Velvet Four Seater Sofa - RRP Â£1250"; } 
.latest-feedbacks .feedback:nth-of-type(30) .price:before{ content: ""; } 
.latest-feedbacks .feedback:nth-of-type(30) .icon{ background-image: url('https://sf.elist.store/listingtemplates-feedback/rating-positive.png'); }
.latest-feedbacks .feedback:nth-of-type(30) .rating:before{ content: "Positive"; }
.latest-feedbacks .feedback:nth-of-type(30) .name:before{ content: "o***k"; }
.latest-feedbacks .feedback:nth-of-type(30) .score:before{ content: "511"; }
.latest-feedbacks .feedback:nth-of-type(30) .date:before{ content: "2/28/2022"; }
.latest-feedbacks .feedback:nth-of-type(30) .description:before{ content: "Great value sofa and very fast delivery. Was super pleased and impressed with the company!"; }



